<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orion</title>
    <link rel="stylesheet" href="../statics/styles/vista_inicio.css">
</head>
<body>
    <div class="contenedor_mayor">
        <div class="seccion_buscador">
            <img src="../statics/media/imgs/logo_orion.png" class="logo_orion" alt="Logo de Orion">
            <div class="contenedor_buscador">
                <input class="buscador" id="buscador" placeholder="Escribe el número de folio aquí">
                <!-- lupa  -->
            </div>
            <button class="agregar_btn">+</button>
        </div>
        <div class="seccion_contenido">
            <div id="contenedor_documento">
                <div class="contenido_vacio">
                    <img src="../statics/media/imgs/telescopio_buscar.png" alt="Buscar" class="logo_telescopio">
                    <p class="texto_resultado">Aquí se mostrará el resultado</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>